receivers:
  otlp:
    protocols:
      grpc:
        endpoint: 0.0.0.0:55680

processors:
  batch:
    timeout: 1s
    send_batch_size: 1024

extensions:
  health_check:

exporters:
  otlp:
    endpoint: "http://fleet-server:8200"
    insecure: true

service:
  extensions: [health_check]
  pipelines:
    metrics:
      receivers: [otlp]
      processors: [batch]
      exporters: [otlp]
    traces:
      receivers: [otlp]
      processors: [batch]
      exporters: [otlp]